<!DOCTYPE html>
{% extends 'playground/base.html' %}
{% load my_firlters%}
{% block body_block %} 
<h1>{{text_1|custom}}</h1>
<a href='{%url 'first_app:form'%}'>Add New</a>
<table border="1">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Instrumrnt</td>
    </tr>
    {% for row in musician %}

    <tr>
        <td>{{row.first_name}}</td>
        <td>{{row.last_name}}</td>
        <td>{{row.instrument}}</td>
    </tr>
    
    {% endfor %}
</table>

{% endblock  %}

  
 